.background-image {
    background-image: url('img/fondo.png'); /* Ruta relativa a la imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ajusta la altura según sea necesario */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Color del texto */
    text-align: center;
}
.content {
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    font-family: Tahoma, sans-serif;
}
/* Estilos adicionales para el contenido */
 .btn {
    font-size: 24px; /* Tamaño de fuente más grande */
    color: white; /* Color del texto blanco */
    text-decoration: none; /* Quitar subrayado */
}
.btn:hover {
    color: lightgray; /* Cambiar color del texto al pasar el ratón */
}